<div class="score-card">
  <table>
    <thead>
      <tr>
        <th>Hand</th>
        <th>Dealer</th>
        <th>Bid Winner</th>
        <th>Winning Bid</th>
        <th>Team A</th>
        <th>Team B</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hand of displayedHands">
        <td>{{ hand.handNumber }}</td>
        <td>{{ hand.dealer }}</td>
        <td>{{ hand.bidWinner }}</td>
        <td>{{ hand.winningBid }}</td>
        <td [class.bid-winner]="isBidWinner(hand, 'A')">{{ formatScore(getHandScoreForTeam('A', hand)) }}</td>
        <td [class.bid-winner]="isBidWinner(hand, 'B')">{{ formatScore(getHandScoreForTeam('B', hand)) }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Total Score</td>
        <td>{{ formatScore(getTotalScore('A')) }}</td>
        <td>{{ formatScore(getTotalScore('B')) }}</td>
      </tr>
    </tfoot>
  </table>
</div>